/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

body {

}

.x-btn-default-small .x-btn-inner, .x-btn-default-medium .x-btn-inner, .x-btn-default-large .x-btn-inner, .x-btn-default-toolbar-small .x-btn-inner, .x-btn-default-toolbar-medium .x-btn-inner, .x-btn-default-toolbar-large .x-btn-inner, .x-menu-item-text, .x-html-editor-tb .x-font-select, .x-panel-header-default, .x-panel-header-text-default, .x-panel-header-default-framed, .x-tip-header, .x-tip-body, .x-form-invalid-tip-body, .x-tip-header-text, .x-progress-text, .x-toolbar, .x-toolbar .x-form-item-label, .x-toolbar .x-toolbar-text, .x-window-header-text-default, .x-tab-bar, .x-tab button, .x-grid-rowbody, .x-grid-row .x-grid-cell, .x-grid-group-title, .x-grid-row-editor .x-form-field, .x-grid-row-editor .x-form-display-field, .x-form-invalid-under, .x-fieldset-header, .x-column-header, .x-mask-msg div, .x-btn-group-header-text-default-framed, table.x-datepicker-inner a, .x-monthpicker-item, .x-dd-drag-ghost 
{ 
    font-size: 13px;
}
.x-panel-header-text, .x-panel-header-text-default {
}
.x-grid-cell-inner {
	font-size: 13px;
}
.x-column-header {
	@include single-text-shadow(#777777, 1px, 1px, 1px);
	font-size: 15px;
}

.portal-title {
	color: #36393D;
	font-size: 32px;
	font-family: 'Arial Black', Arial, 標楷體;
	font-weight: normal;
	padding: 10px 25px;
	@include single-text-shadow(#eeeeee, 2px, 2px, 2px);
}

.portal-header {
	background: #eeeeee url(http://a3.twimg.com/profile_background_images/19467359/Vladstudio_11016.jpg) bottom center;
}

.portal-message {
	line-height: 1.5em;
	strong {
		font-weight: bold;
	}
}

.larger-font {
	font-size: 1.25em;
	line-height: 1.25em;
}
