/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3";

/*----------------------- Layouts ----------------------------*/

body {
    background: url('../images/back.png');
}

.portal-title {
    color: #36393D;
    font-size: 32px;
    font-family: 'Arial Black', Arial, 標楷體;
    font-weight: normal;
    padding: 10px 25px;
    @include single-text-shadow(#eeeeee, 2px, 2px, 2px);
}

.portal-header {
    background: #eeeeee url(http://a3.twimg.com/profile_background_images/19467359/Vladstudio_11016.jpg) bottom center;
}

.portal-message {
    line-height: 1.5em;
    strong {
        font-weight: bold;
    }
}

.larger-font {
    font-size: 1.25em;
    line-height: 1.25em;
}

.x-grid-with-col-lines .x-grid-cell.clearlook-grid-cell {
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    background-color: #fff;
}

/*------------------ ExtJS Customization ---------------------*/

/* cusor pointer for grid action icons */
.x-action-col-icon { cursor: pointer; }
.x-mask { opacity: 0.1; }


/*------------------ 選課系統樣式調整 ---------------------------*/
/*課程名稱左邊的邊界寬度設為0*/
.x-grid-header-ct {
    border:none;
}

/*表首的右邊邊界寬度*/
/*.x-column-header{border-right: 1px solid #fff;}*/

/*.x-grid-header-ct{background-image: -webkit-linear-gradient(top, #FFD22C,#FFD22C);}*/

/*表首的顏色*/
/*.x-column-header-inner{background-image: -webkit-linear-gradient(top, #FFD22C,#FFD22C);}*/
/*表首的顏色*/
/*.x-column-header-over{background-image: -webkit-linear-gradient(top, #FFD22C,#FFD22C);}*/
/*表首的顏色*/
/*.x-column-header-sort-ASC{background-image: -webkit-linear-gradient(top, #FFD22C,#FFD22C);}*/
/*表首的顏色*/
/*.x-column-header-sort-DESC{background-image: -webkit-linear-gradient(top, #FFD22C,#FFD22C);}*/

/*偶數列的顏色*/
/*.x-grid-row-alt .x-grid-cell{background-color:#FFE1D6;}*/
/*偶數列的顏色*/
/*.x-grid-row-alt .x-grid-rowwrap-div{background-color:#FFE1D6;}*/

/*tab-bar的顏色*/
/*.x-tab-bar{background-image: -webkit-linear-gradient(top, #FFAB4B 60%,#E68E36 40%);}*/

/*button:hover {
    background-color:#C9F0FF;
}*/