!!!
html
	head
		meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
		meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
		title=title
		//http://cdn.sencha.io/ext-4.1.0-gpl
		//link(rel='stylesheet', href='./extjs/resources/css/ext-all-gray.css')
		link(rel='stylesheet', href='./extjs/css/my-ext-theme.css')
		script(type='text/javascript', charset='utf-8', src='./extjs/ext-all.js')
		script(type='text/javascript', charset='utf-8', src='./extjs/locale/ext-lang-zh_TW.js')
		link(href='/stylesheets/screen.css', media='screen, projection', rel='stylesheet', type='text/css')
		link(href='/stylesheets/print.css', media='print', rel='stylesheet', type='text/css')
		//if IE
			link(href='/stylesheets/ie.css', media='screen, projection', rel='stylesheet', type='text/css')
		script(type='text/javascript')
			var __SILK_ICONS_URL = 'http://cdn.dustball.com/';
			var __SERVICE_URL = '';
		if bootstrap
			script(type='text/javascript', src=bootstrap)			
	body!= body